<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BorrowMapper">
	<resultMap id="borrow" type="com.gaimit.mlm.model.Borrow">
		<result property="idBrw" column="id_brw"/>
		<result property="idLibBrw" column="id_lib_brw"/>
		<result property= "bookHeldId" column="book_held_id"/>
		<result property="idMemberBrw" column="id_member_brw"/>
		<result property="startDateBrw" column="start_date_brw"/>
		<result property="endDateBrw" column="end_date_brw"/>
		
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="gradeId" column="grade_id"/>
		<result property="titleBook" column="title_book"/>
	</resultMap>
	
	<!-- 회원정보를 저장한다 : 가입 -->
	<insert id="insertBrw" parameterType="com.gaimit.mlm.model.Borrow" useGeneratedKeys="true" keyProperty="id_brw">
		INSERT INTO borrow (
			id_lib_brw, book_held_id, id_member_brw, start_date_brw
		) VALUES (
			#{idLibBrw}, #{bookHeldId}, #{idMemberBrw}, now()
		)
	</insert>
	
	<!-- getBorrowList -->
	<select id="selectBorrowList" parameterType="com.gaimit.mlm.model.Borrow" resultMap="borrow">
		SELECT
			id_brw, id_lib_brw, book_held_id, b.title_book,
			id_member_brw, m.name, m.phone, start_date_brw, end_date_brw
		FROM borrow r
		INNER JOIN book_held h ON r.book_held_id = h.id
		INNER JOIN book b ON b.id_book = h.book_id_book
		INNER JOIN member m ON r.id_member_brw = m.id
		WHERE id_lib_brw = #{idLibBrw} AND end_date_brw is NULL
		ORDER BY start_date_brw ASC
	</select>
	
	<select id="selectBorrowListToday" parameterType="com.gaimit.mlm.model.Borrow" resultMap="borrow">
		SELECT
			id_brw, id_lib_brw, book_held_id, b.title_book,
			id_member_brw, m.name, m.phone, start_date_brw, end_date_brw
		FROM borrow r
		INNER JOIN book_held h ON r.book_held_id = h.id
		INNER JOIN book b ON b.id_book = h.book_id_book
		INNER JOIN member m ON r.id_member_brw = m.id
		WHERE id_lib_brw = #{idLibBrw} AND start_date_brw > curdate() OR end_date_brw > curdate()
		ORDER BY id_brw ASC
	</select>
	
	<select id="selectBorrowItemByBookCode" parameterType="com.gaimit.mlm.model.Borrow" resultMap="borrow">
		SELECT
			id_brw, id_lib_brw, id_book_brw, b.id_code_book as id_code_book, b.name_book as name_book,
			id_member_brw, m.id_code, m.name as name, m.phone, start_date_brw, end_date_brw
		FROM borrow r
		INNER JOIN book b on r.id_book_brw = b.id_book
		INNER JOIN member m on r.id_member_brw = m.id
		WHERE id_lib_brw=#{idLibBrw} AND end_date_brw is NULL AND id_code_book=#{idCodeBook}
		ORDER BY start_date_brw ASC
	</select>
	
	<select id="selectBorrowListByMbrId" parameterType="com.gaimit.mlm.model.Borrow" resultMap="borrow">
		SELECT
			id_brw, id_lib_brw, id_book_brw, b.id_code_book as id_code_book, b.name_book as name_book,
			id_member_brw, m.id_code, m.name as name, m.phone, start_date_brw, end_date_brw
		FROM borrow r
		INNER JOIN book b on r.id_book_brw = b.id_book
		INNER JOIN member m on r.id_member_brw = m.id
		WHERE id_member_brw=#{idMemberBrw} AND end_date_brw is NULL
		ORDER BY start_date_brw ASC
	</select>
	
	<update id="updateBorrowEndDate" parameterType="com.gaimit.mlm.model.Borrow">
		UPDATE borrow r
		INNER JOIN book B on r.id_book_brw = b.id_book
		SET end_date_brw=now()
		WHERE id_lib_brw=#{idLibBrw} AND id_code_book=#{idCodeBook} AND id_brw=#{idBrw}
	</update>
	
	<select id="selectBorrowRtnd" parameterType="com.gaimit.mlm.model.Borrow" resultMap="borrow">
		SELECT
			id_brw, id_lib_brw, id_book_brw, b.id_code_book as id_code_book, b.name_book as name_book,
			id_member_brw, m.id_code, m.name as name, m.phone, start_date_brw, end_date_brw
		FROM borrow r
		INNER JOIN book b on r.id_book_brw = b.id_book
		INNER JOIN member m on r.id_member_brw = m.id
		WHERE id_lib_brw=#{idLibBrw} AND id_code_book=#{idCodeBook} AND id_brw=#{idBrw}
		ORDER BY start_date_brw ASC
	</select>
	
	<select id="selectBorrowCountByBookCode" parameterType="com.gaimit.mlm.model.Borrow" resultType="int">
		SELECT count(id_brw)
		FROM borrow
		WHERE id_lib_brw=#{idLibBrw}
			AND id_book_brw=#{idBookBrw}
			AND end_date_brw is null
	</select>
	
</mapper>